.main {   
  display: grid;   
  height: 110vh;   
  align-items: flex-end;   
  padding: 0 5%;   
  margin-left: 15%;   
  margin-bottom: 12vh;   
  color: rgb(255, 255, 255); 
}

.body {   
  width: 78%;   
  display: flex;   
  flex-wrap: wrap;   
  background: transparent; 
}

.body p {   
  font-size: 46px;   
  margin: 0;   
  line-height: 56px;   
  margin-right: 0.3vw;   
  font-weight: 500; 
}

.body span {   
  opacity: 0.2; 
}

@media (max-width: 768px) {   
  .main {     
    height: auto;     
    align-items: center;     
    padding: 0 3%;     
    margin-left: 5%;     
    margin-bottom: 20vh;   
  }    

  .body {     
    width: 100%;   
  }    

  .body p {     
    font-size: clamp(24px, 6vw, 56px);     
    line-height: 1.2;     
    margin-right: 1vw;   
  } 
}

@media (max-width: 480px) {   
  .main {
    margin-top: 10vh;     
    height: 600px;     
    padding: 0 2%;     
    margin-left: 2%;     
    margin-bottom: 10vh;   
  }    

  .body p {     
    font-size: clamp(24px, 5vw, 36px);     
    line-height: 1.3;   
  } 
}
